@model BlogTask.Models.BlogsTable
    <style>
        .AddNew {
            color: brown;
        }
        .container {
            height: 400px;
            width: 300px;
            background-color: honeydew;
            color: brown;
            border-radius: 20px;
        }
    </style>

@{
    ViewBag.Title = "AddBlogs";
}

<div class="AddNew">
    <h2>Add Your Experience</h2>
</div>
<div class="container">
    @using (Html.BeginForm())
    {
        <div class="row1">
            @Html.HiddenFor(m => m.UId)<br />
            <label>Enter the title</label><br />
            @Html.EditorFor(b => b.BlogTitle)<br />
            <label>Enter the Image</label><br />
            @Html.EditorFor(b => b.images)<br />
            <label>Enter the Experience</label><br />
            @Html.EditorFor(b => b.messages)<br />
            <label>Enter the Travel Date</label><br />
            @Html.EditorFor(b => b.TravelDate)<br />
            <label>Rate your Experience of travel</label><br />
            @Html.EditorFor(b => b.ratings)
            <br />
            <br/>
            <button class="btn btn-outline-danger" data-mdb-ripple-color="dark">Add The Blog</button>
        </div>
    }
</div>
