@model BlogTask.Models.BlogsTable

@{
    ViewBag.Title = "EditBlogs";
}

<h2 style="text-align:center;color:indianred">Edit Blogs</h2>
<div class="container1">
    @using (Html.BeginForm("UpdateBlogs", "Blogging"))
    {
        <div class="row1">
            @Html.HiddenFor(m => m.UId)<br />
            <label>Blog Id : @Html.DisplayFor(m => m.BlogId)@Html.HiddenFor(m => m.BlogId)</label>
            <label>Re-Enter the title</label><br />
            @Html.EditorFor(b => b.BlogTitle)<br />
            <label>Re-Enter the Image</label><br />
            @Html.EditorFor(b => b.images)<br />
            <label>Re-Enter the Experience</label><br />
            @Html.EditorFor(b => b.messages)<br />
            <label>Re-Enter the Rating</label><br />
            @Html.EditorFor(b => b.ratings)<br />
            <button class="btn btn-primary text-warning ms-4">Save Changes</button>
        </div>
    }
</div>


